
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}

b
{
    color: palevioletred;
}

li
{
    color:black
}

figcaption
{
    color: black;
}

a
{
    color: black;
}